#app-layout {
    background-color: black;
}
.panel .box {
    margin-bottom: 0;
    margin-top: 0;
}
.panel a {
    background-color: white;
}
.panel a:hover {
    background-color: #d8e4ee;
}

.panel-block {
    margin: 1px 0;
}
.panel-heading {
    background-color: #123456;
    color: white;
}
.panel-tabs {
    background-color: darkgray;
}

.panel-tabs a.is-active {
    color: white;
}

.panel-tabs a {
    color: #2e6da4;
}

/********************* LOG LEVELS **********************/
.debug {
    color: #00d1b2
}

.info {
    color: #00d1b2
}

.notice {
    color: #23d160
}

.warning i, strong {
    color: #ffdd57;
}

.error i, strong {
    color: #ff3860;
}

.critical {
    color: #b40d08;
    background-color: #f97484;
}

.alert {
    color: #b40d08;
    background-color: #f97484;
}

.emergency {
    color: #b40d08;
    background-color: #f97484;
}

.is-primary i {
    color: #00d1b2
}
.is-primary i:hover {
    color: white
}

#icon {
    color: #64b3df
}
