html, body {
    background-color: black;
}
.panel .box {
    margin-bottom: 0;
    margin-top: 0;
}
.panel a {
    background-color: white;
}
.panel a:hover {
    background-color: #d8e4ee;
}

.panel-block {
    margin: 1px 0;
}
.panel-heading {
    background-color: #123456;
    color: white;
}
.panel-tabs {
    background-color: darkgray;
}

.panel-tabs a.is-active {
    color: white;
}

.panel-tabs a {
    color: #2e6da4;
}
/*******************************************************
 ********************* LOG LEVELS **********************
 **                                                   **
 **     Style components according to log level       **
 **                                                   **
 *******************************************************
 *******************************************************/

.log-header {

}


.log-body {

}

.debug .log-header {
    background-color: #3273dc;
    border-color: #3273dc;
    color: white;
}

.debug .log-body {
    border-color: #3273dc;
    color: #22509a;
}

.info .log-header {
    background-color: #23d160;
    border-color: #23d160;
    color: white;
}

.info .log-body {
    border-color: #23d160;
    color: #0e301a;
}

.notice .log-header {
    background-color: #23d160;
    color: white;
}

.notice .log-body {
    border-color: #23d160;
    color: #0e301a;
}

.notice .error-name {
    font-weight: 600;
}

.warning .log-header {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.warning .log-body {
}


.error .log-header {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);

}

.error .log-body {
    border-color: #ffdd57;
    background-color: #fffdf5;
    color: #3b3108;
}

.error .error-name {
    font-weight: 600;
}

.critical .log-header {
    background-color: #b40d08;
    color: white;
}

.critical .log-body {
    border-color: #ffdd57;
    color: #3b3108;
}

.critical .error-name {
    font-weight: 600;
}

.alert .log-header {
    background-color: #b40d08;
    color: white;
}

.alert .log-body {
}

.alert .error-name {
    font-weight: 600;
}

.emergency .log-header {
    background-color: #b40d08;
    color: white;
}

.emergency .log-body {
}

.emergency .error-name {
    font-weight: 900;
}

.is-primary i {
    color: #00d1b2
}
.is-primary i:hover {
    color: white
}

#icon {
    color: #64b3df
}
